[Desktop Entry]
Type=Application
Name=ElasticSearch
Categories=Network;OSINT
Exec=/home/osint/Documents/scripts/elasticsearch.sh
Icon=/home/osint/Pictures/icons/elasticsearch.png
Terminal=true
