[Desktop Entry]
Name=Video Utilities       
Comment=Launch ffmpeg
Exec="/home/osint/Documents/scripts/ffmpeg_interact.sh"
Type=Application
Categories=Application;OSINT
Icon=/home/osint/Pictures/icons/ffmpeg.png
Terminal=false
