[Desktop Entry]
Type=Application
Name=Recon-NG
Categories=Network;OSINT
Exec=/home/osint/Documents/scripts/recon-ng.sh
Icon=/home/osint/Pictures/icons/recon-ng.png
Terminal=true
