[Desktop Entry]
Type=Application
Name=SpiderFoot
Comment=Avvia SpiderFoot su http://127.0.0.1:5001
Categories=Network;OSINT
Exec=/home/osint/Documents/scripts/spiderfoot.sh
Icon=/home/osint/Pictures/icons/spiderfoot.png
Terminal=false
