[Desktop Entry]
Type=Application
Name=Usernames OSINT
Comment=Sherlock, Maigret, Blackbird, User Scanner, Linkook, Socialscan
Categories=Network;OSINT
Exec=__HOME__/Documents/scripts/usernames.sh
Icon=__HOME__/Pictures/icons/usernames.png
Terminal=true
