[Desktop Entry]
Type=Application
Name=Domains
Comment=theHarvester and Amass: subdomains, hosts, IPs and emails
Exec=__ARGOS_HOME__/launchers/domains.sh
Icon=__ARGOS_HOME__/icons/argos-domains.svg
Terminal=false
Categories=Network;
Keywords=OSINT;Argos;
